body {
  padding: 0;
  background-color: #000;
  overflow: hidden;
  font-family: sans-serif;
}

#finishline {
  background-color: red;
  color: #FFFFFF;
  font-family: arial;
  height: 200px;
  position: absolute;
  right: 20px;
  text-transform: none;
  z-index: 10;
  white-space: pre;
  text-align: center;
  width: 20px;
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
  height: 340px;
  line-height: 23px;
  top: 0;
}

#finishline span {
  margin-top: 83px;
  display: block;
}

#winscreen {
  background-color: orange;
  z-index: 11;
  position: absolute;
  margin: 0 auto;
  width: 30%;
  padding: 20px;
  left:30%;
  text-align: center;
  top: 50px;
  border-radius: 20px;
  opacity:0.8;

  display: none;
}

#winscreen img {
  margin-left: 20%;
  width: 160px;
}
#backcanvas {
  position: absolute;
  z-index: 9; /* Below the finish line  */
  left: 0;
  top: 0;
}

img.preload {
  width: 0;
  display: block;
}

img#logo {
  width: 70%;
  opacity: .7;
  position: absolute;
  bottom: 2px;
  margin-left: 10%;
}

/* DEBUG */

.bar {
  width: 22px;
  position: absolute;
  background-color: red;
  bottom: 0;
}
#a1 {left: 22px; background-color: blue;}
#a2 {left: 44px; background-color: green;}
#a3 {left: 66px; background-color: red;}
#a4 {left: 88px; background-color: blue;}
#a5 {left: 110px; width: 28px; background-color: green;}

.wrapper {
  background-color: gainsboro;
  bottom: 10px;
  height: 64px;
  position: absolute;
  right: 10px;
  width: 138px;
  z-index: 20;
}

#controls {
  background-color: royalblue;
  position: absolute;
  right: 148px;
  bottom: 10px;
  height: 64px;
  width: 128px;
  z-index: 20;
}
